{% extends "_base.html"%}

{% block title %} Results {% endblock %}

{% block content%}

<div class="wrap">
    <h1>Results</h1>
    <h2><b>{{ results|length }} houses found</b></h2>

    <div class="all-elems">
        {% for i in results %}
        <div class="elem">
            <div class="left">
                <h2>City: {{ i.city }}</h2>
                <h2>House Type: {{ i.house_type }}</h2>
                {% if i.pet_friendly %}
                    <h2 style="color: rgb(0, 171, 0);">This house is pet friendly</h2>
                {% else %}
                    <h2 style="color: rgb(153, 0, 0)">This house is not pet friendly</h2>
                {% endif %}
            </div>
            <div class="right">
                <h2>Owner Name: {{ i.owner_name }}</h2>
                <h2>Owner Age: {{ i.owner_age }}</h2>
                <h2>Owner Phone Number: {{ i.owner_phone_number }}</h2>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}